html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 18px;
}

html, body {
    overflow-x: hidden;
}

/*=========================================================
Nav Bar
===========================================================*/

.bg-main {
    background: linear-gradient(180deg, #141414 0%, #202022 50%, #47474f 100%);
}

.img-logo {
    width: 180px;
    height: 46px;
}

.img-logo-small {
    display: none;
}

@media (max-width: 767.98px) {
    .img-logo {
        display: none;
    }

    .img-logo-small {
        display: block;
    }
}


.fontsize {
    font-size: 13px;
}

.search-input {
    height: 40px;
    border: 1px solid #ced4da;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    outline: none;
    box-shadow: none;
}

    .search-input:focus {
        outline: none;
        box-shadow: none;
    }

.btn.btn-search {
    height: 40px;
    background: white;
    border: 1px solid #ced4da;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    outline: none;
    box-shadow: none;
}

    .btn.btn-search:focus {
        outline: none;
        box-shadow: none;
    }

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
    width: 1250px;
}

.c-item {
    height: 400px;
}

/*=========================================================
Breadcrum
===========================================================*/
.custom-breadcrumb {
    --bs-breadcrumb-divider: '>';
}

.breadcrumb-link {
    text-decoration: none;
    color: inherit;
}
.breadcrumb-link:hover {
    color: #007bff;
    text-decoration: underline;
}

/*=========================================================
Slider
===========================================================*/
.carousel-control-prev,
.carousel-control-next {
    width: 5% !important;
}

/*=========================================================
Register
===========================================================*/
.custom-radio-container {
    display: flex;
    align-items: center;
}

.custom-radio-group {
    display: flex;
    gap: 1em;
}

    .custom-radio-group > div {
        display: flex;
        align-items: center;
    }

.custom-label-radio {
    margin-left: 0.5em;
}


input[type="radio"].custom-radio {
    display: none;
}

label.custom-label-radio {
    position: relative;
    color: #212529;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    border: 2px solid #212529;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    font-size: 0.875rem;
}

    label.custom-label-radio:before {
        content: "";
        height: 1.2em;
        width: 1.2em;
        border: 2px solid #212529;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        box-sizing: border-box;
    }

input[type="radio"].custom-radio:checked +
label.custom-label-radio:before {
    background-color: #212529;
    border-width: 0.4em;
    border-color: #ffffff;
}

input[type="radio"].custom-radio:checked +
label.custom-label-radio {
    background-color: #212529;
    color: #ffffff;
}

.eye {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.button-hover:hover {
    background-color: #0056b3;
    color: white;
}

.click-here {
    text-decoration: none;
    color: #212529;
}

/*=========================================================
Login
===========================================================*/
.a-custom {
    text-decoration: none;
    color: #212529;
}

.a-custom-button {
    text-decoration: none;
    color: white;
}

.a-custom-button:hover {
    text-decoration: none;
    color: white;
}

/*=========================================================
Profile
===========================================================*/
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.li-custom{
    text-decoration: none;
    cursor: pointer;
}

.li-custom:hover{
    text-decoration: none;
    color: #1b6ec2;
}

label.custom-upload {
    display: block;
    width: 150px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input.custom-photo-input {
    display: none;
}

img#imgpreview {
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/*=========================================================
NEWSLETTER
===========================================================*/
#newsletter.section {
    border-top: 2px solid #E4E7ED;
    border-bottom: 3px solid;
    margin-top: 30px;
}

.newsletter {
    text-align: center;
}

    .newsletter p {
        font-size: 24px;
    }

    .newsletter form {
        position: relative;
        max-width: 520px;
        margin: 30px auto;
        display: flex;
    }

        .newsletter form:after {
            content: "\f003";
            font-family: FontAwesome;
            position: absolute;
            font-size: 160px;
            color: #E4E7ED;
            top: 15px;
            -webkit-transform: translateY(-50%) rotate(15deg);
            -ms-transform: translateY(-50%) rotate(15deg);
            transform: translateY(-50%) rotate(15deg);
            z-index: -1;
            left: -90px;
        }

        .newsletter form .input {
            width: calc(100% - 160px);
            margin-right: -4px;
            border-radius: 40px 0px 0px 40px;
            padding: 10px;
            box-sizing: border-box;
            height: 40px;
            outline: none;
        }

        .newsletter form .newsletter-btn {
            width: 160px;
            height: 40px;
            font-weight: 700;
            background: #333;
            color: #FFF;
            border: 1px solid #555;
            border-radius: 0px 40px 40px 0px;
            cursor: pointer;
            text-align: center;
        }
/*=========================================================
Footer
===========================================================*/
.bg-footer {
    background: #000;
}

/*=========================================================
Default
===========================================================*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
