<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DTEch</title>
    <link rel="icon" type="image/png" href="~/img/DTechfavicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DTEch.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/75ef677eac.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header clearfix bg-main">
            <div class="container py-2">
                <div class="row align-items-center">
                    <div class="col-md-2 col-lg-2 col-2">
                        <img src="~/img/DTechlogo.png" class="img-logo" alt="DTech logo" />
                    </div>

                    <div class="col-md-4 col-lg-4 col-4 mx-auto my-auto search-box">
                        <div class="input-group form-container">
                            <input type="text" name="search" class="form-control search-input" placeholder="Search" autocomplete="off" />
                            <span class="input-group-btn">
                                <button class="btn btn-search">
                                    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-6">
                        <ul class="nav justify-content-start">
                            <li class="nav-item me-2">
                                <a class="nav-link active d-flex align-items-center text-light text-decoration-none" href="#">
                                    <div class="me-1">
                                        <i class="fa-solid fa-phone fa-xl"></i>
                                    </div>

                                    <div class="text-light">
                                        <p class="mb-0 fontsize">Call to order</p>
                                        <strong class="fontsize">1800.1234</strong>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item me-2 mt-2">
                                <a class="nav-link active d-flex align-items-center text-light text-decoration-none" href="#">
                                    <div class="me-1">
                                        <i class="fa-solid fa-location-dot fa-xl"></i>
                                    </div>

                                    <div class="text-light">
                                        <p class="mb-0 fontsize">Location</p>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item me-2 mt-2">
                                <a class="nav-link active d-flex align-items-center text-light text-decoration-none" href="#">
                                    <div class="me-1">
                                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                                    </div>

                                    <div class="text-light">
                                        <p class="mb-0 fontsize">Shopping Cart</p>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item me-2 mt-2">
                                <a class="nav-link active d-flex align-items-center text-light text-decoration-none" href="#">
                                    <div class="me-1">
                                        <i class="fa-solid fa-newspaper fa-xl"></i>
                                    </div>

                                    <div class="text-light">
                                        <p class="mb-0 fontsize">News</p>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item dropdown mt-2">
                                <a class="nav-link dropdown-toggle active d-flex align-items-center text-light text-decoration-none" " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    <div class="me-1">
                                        <i class="fa-solid fa-user fa-xl"></i>
                                    </div>

                                    <div class="text-light">
                                        <p class="mb-0 fontsize">Account</p>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Log in</a></li>
                                    <li><a class="dropdown-item" href="#">Resgiter</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="mainmenu clearfix bg-main">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between w-100">
                                <li class="nav-item">
                                    <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                                </li>

                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="#">Introduce</a>
                                </li>

                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="#">Smart Phone</a>
                                </li>

                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="#">Tablet</a>
                                </li>

                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="#">Laptop</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Accessory
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Mice</a></li>
                                        <li><a class="dropdown-item" href="#">Keyboard</a></li>
                                        <li><a class="dropdown-item" href="#">Headphone</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="#">Policy</a>
                                </li>

                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
                                @RenderBody()
        </main>
    </div>

    <footer>
        <div id="newsletter" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsletter">
                            <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                            <form>
                                <input class="input" type="email" placeholder="Enter Your Email">
                                <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /NEWSLETTER -->

        <div class="footer-top clearfix bg-footer py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="text-light">DTech</h3>
                    </div>

                    <div class="col-md-3">
                        <h3 class="text-light">Policy</h3>
                    </div>

                    <div class="col-md-3">
                        <h3 class="text-light">Instruct</h3>
                    </div>

                    <div class="col-md-3">
                        <h3 class="text-light">Connect With Us</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom clearfix">
            <div class="container">
                <div class="row-cols-auto text-center">© Copyright belongs to DTeam</div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
                                    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
