@model DTech.Models.EF.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.mainPage = "information";
    ViewBag.page = "category";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--begin::App Content Header-->
            <div class="app-content-header">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Create</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item">
                                    <a class="btn btn-sm btn-success text-center">
                                        <i class="fa-solid fa-house fa-sm"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="breadcrumb-item" >
                                    <a asp-action="Index">
                                        Category
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Create
                                </li>
                            </ol>
                        </div>
                    </div> <!--end::Row-->
                </div> <!--end::Container-->
            </div> <!--end::App Content Header-->
            <!--begin::App Content-->
            <div class="app-content">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="col text-center">
                                        @Html.Partial("Message")
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label">
                                                    @Html.DisplayNameFor(Model => Model.Name)
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="ParentId" class="control-label">
                                                    @Html.DisplayNameFor(Model => Model.ParentId)
                                                </label>
                                                <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                                                    <option value="">Select parent(if any)</option>
                                                </select>
                                                <span asp-validation-for="ParentId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Status" class="control-label">
                                            @Html.DisplayNameFor(Model => Model.Status)
                                        </label>
                                        <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusList"></select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>

                                </div> <!-- /.card-body -->

                                <div class="card-footer">
                                    <div class="form-group">
                                        <button type="submit" value="Create" class="btn btn-primary">
                                            <i class="fa-solid fa-floppy-disk fa-sm"></i>
                                            Save
                                        </button> | 
                                        <a asp-action="Index" class="btn btn-sm btn-success text-center" style="padding-bottom: 0.5em; padding-top: 0.5em;">
                                            <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
                                            Back to List
                                        </a>
                                    </div>
                                </div> <!-- /.card-footer-->
                            </div> <!-- /.card -->
                        </div>
                    </div> <!--end::Row-->
                </div> <!--end::Container-->
            </div> <!--end::App Content-->
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
