@model IEnumerable<DTech.Models.EF.CustomerAddress>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Customer Addresses</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse">
                <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
            </button>
            <button type="button" class="btn btn-tool" data-lte-toggle="card-remove" title="Remove">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var address in Model)
                    {
                        <tr>
                            <td>@address.AddressId</td>
                            <td>@address.Address</td>
                            <td>
                                <a asp-action="EditAddress" asp-route-id="@address.AddressId" class="btn btn-sm btn-info">
                                    <i class="fa-solid fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No addresses available</p>
        }
    </div> <!-- /.card-body -->
    <div class="card-footer">
        <a asp-action="CreateAddress" asp-route-customerId="@ViewBag.CustomerId" class="btn btn-sm btn-success">
            <i class="fa-solid fa-plus"></i> Add Address
        </a>
    </div> <!-- /.card-footer -->
</div> <!-- /.card -->
