<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>@ViewData["Title"]</title>

<!--begin::Primary Meta Tags-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="AdminLTE 4 | Sidebar Mini">
<meta name="author" content="ColorlibHQ">
<meta name="description" content="AdminLTE is a Free Bootstrap 5 Admin Dashboard, 30 example pages using Vanilla JS.">
<meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, colorlibhq, colorlibhq dashboard, colorlibhq admin dashboard">
<!--end::Primary Meta Tags-->

<link rel="icon" type="image/png" href="~/img/DTechfavicon.png" />
<!--begin::Fonts-->
<link href="~/dist/css/index.css" rel="stylesheet" />
<!--end::Fonts-->
<!--begin::Third Party Plugin(OverlayScrollbars)-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css" integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous">
<!--end::Third Party Plugin(OverlayScrollbars)-->
<!--begin::Third Party Plugin(Bootstrap Icons)-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css" integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=" crossorigin="anonymous">
<!--end::Third Party Plugin(Bootstrap Icons)-->
<!--begin::Required Plugin(AdminLTE)-->
<link href="~/dist/css/adminlte.css" rel="stylesheet" />
<!--end::Required Plugin(AdminLTE)-->

<link href="~/css/adminsite.css" rel="stylesheet" />
<link href="~/css/datatables.datatables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.2.4/material.css" />
<link href="~/lib/ckeditor5/ckeditor5.css" rel="stylesheet" />
<script src="https://cdn.syncfusion.com/ej2/26.2.4/dist/ej2.min.js"></script>
<script src="https://kit.fontawesome.com/75ef677eac.js" crossorigin="anonymous"></script>
